body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

html, button, input, select, textarea { font: 14px/18px \5b8b\4f53,"Microsoft YaHei"; color: #000; }

audio, canvas, video, .tj .b, .tj:after, .tj .l, .icon, .icon-qq-mid, .icon-weibo-mid, .icon-weixin-mid, .icon-user-mid, .icon-order-mid, .icon-question-mid, #topbar .bar-right > a, #topbar .bar-right > div, #topbar .bar-right .about-us a, #menu li a, .window-ctn.window-modal .group-btn a { display: inline-block; vertical-align: middle; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

ul, ol { list-style: none; }

a, ins { text-decoration: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header,  main, nav, section, summary { display: block; }

address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

abbr { border: 0; font-variant: normal; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

code, kbd, samp, tt { font-size: 100%; }

input, button, textarea, select { *font-size: 100%; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; }

sup, sub { font-size: 100%; vertical-align: baseline; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, a { color: #666; }
*{font:12px Microsoft YaHei;}
.nav{
	display: inline-block;
	text-align: center;
	width: 100%;border-bottom: 1px solid #eee;
}
.nav ul{
	display: inline-block;
	width: 900px;
}
.nav li{
	float: left;line-height: 70px;margin: 0 20px;
}
.nav li > a{
	font:normal 13px/24px "Microsoft YaHei";color:#999;
}
.nav li .title{
	font-size: 16px;
}
.nav .github{
	width:110px;height:45px;margin: 24px 0 0 24px;
}

.wrap{text-align: center;margin-top: 50px;}
input{
	width: 220px;height: 30px;
}
input[type=text],input[type=password]{
	text-indent: 10px;
}
button,.btn{
	padding: 2px 10px;width: 105px;height: 30px;
	margin: 5px 10px;    vertical-align: middle;
	font:normal 14px/24px "Microsoft YaHei";color:white;
	background-color:#29cee9;
	border:1px solid #29cee9;
	cursor: pointer;    display: inline-block;
}
button:hover,.btn:hover{
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.wrap, .wp { width: 1180px; margin: auto; }
.msg {
	text-align: center;margin: 20px 0;
	vertical-align: middle;
}
.msg .info,.msg .error{
	padding: 10px 60px;
	text-align: left;width: 600px;display: inline-block;
	border: 1px solid #eee;background-color: #f2dede;
}
.error{
	color:red;
}
.content{
	width: 800px;
	display: inline-block;
}
.article{
	text-align: left;border: 1px solid #eee;padding: 20px;margin: 20px;
}
.article h3 a{
	font:16px/32px  "Microsoft YaHei";color:#333;
}
.article p{
	font:14px/32px  "Microsoft YaHei";color:#333;
}