<div class="nav">
	<ul>
		<li>
		<span class="title">
			Node.js Express Mongoose Demo
		</span>
		</li>
		<li>
			<a href="/articles/new">
				New
			</a>
		</li>
		<li>
			<a  href="javascript:;">
				Profile
			</a>
		</li>
		<li>
			<a  href="javascript:;">
				Logout
			</a>
		</li>
		<li>
			<iframe class="github" src="http://ghbtns.com/github-btn.html?user=yuexing0921&repo=mongoose-demo&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" ></iframe>
		</li>
	</ul>
</div>